<!DOCTYPE html>

<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Informationen</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="position-relative" data-spy="scroll" data-target="#side-nav" data-offset="0">

        <!-- Navigationsmenü -->
        <header class="bg-white border-bottom">
            <nav class="navbar navbar-expand-md navbar-light container-lg pr-0" id="navbar">
                <a class="navbar-brand" href="#"><img src="res/Logo_Formel_Z.jpg" alt=""></a>
                <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link py-0 px-3" href="#">Informationen</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-0 px-3" href="#">Wettk&auml;mpfe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-0 px-3" href="#">Gallerie</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <!-- Seitentitel -->
        <section class="text-center text-white d-none d-md-block" id="titleSection">
            <h1 class="m-0">Formel-(Z)ukunft</h1>
        </section>

        <section class="position-absolute" id="background">
            <img src="/res/DeichBildHintergrund.jpg" alt="">
            <div id="green-gradient"></div>
            <div id="blue-gradient"></div>
        </section>

        <!-- Hauptinhalt -->
        <main class="container-lg p-0 position-relative">
            <nav class="listgroup position-absolute" id="side-nav">
                <!-- <ul class="nav nav-pills"> -->
                    <a class="list-group-item list-group-item-action list-group-item-light" href="#navbar">Der Wettbewerb</a>
                    <a class="list-group-item list-group-item-action list-group-item-light" href="#fakten">Fakten</a></li>
                    <!-- <a class="list-group-item list-group-item-action list-group-item-light" href="#ziele">Ziele</a></li> -->
                    <a class="list-group-item list-group-item-action list-group-item-light" href="#formelZAmGaw">Formel Z am Gaw</a></li>
                <!-- </ul> -->
            </nav>

            <section class="bg-light" >

                <article class="px-3 px-lg-5 pt-4" id="wettbewerb">
                    <h2 class="text-center my-2">Der Wettbewerb</h2>
                    <div class="row">
                        <p class="text-justify col-12">Der Wettbewerb Formel (Z)ukunft wurde 2001 von der Stiftung der Kreissparkasse Verden und der
                        damaligen Leitung des Cato Bontjes van Beek-Gymnasium entwickelt. Der Grundgedanke war ein
                        Wettbewerb unterhalb von Jugend forscht zu schaffen, durch den Jugendlichen mit Hilfe einer
                        kostenfreien, unkomplizierten Teilnahme, sowie spielerischen und spannenden Elementen, vor allem
                        Spaß an Naturwissenschaften, Technik, Teamarbeiten und Wettbewerben vermittelt wird. Dies soll
                        den Grundstein für weiterführendes technisches Interesse bei den Schüler/-innen legen und ggf.
                        bereits vorhandenes Talent fördern, um den Jugendlichen, nicht zuletzt auch technische Berufe
                        näher zu bringen und dem Fachkräftemangel entgegen zu wirken.</p>
                    </div>
                    <div class="row">
                        <p class="text-justify col-lg-8">Infolge dessen wurde noch 2001 am Gymnasium am Wall die Formel (Z)ukunft AG ins Leben gerufen,
                        welche unter der Leitung von Herrn Roland Ludwig und mit der tatkräftigen Unterstützung von Herrn
                        Muth und dem inzwischen pensionierten Herrn Burkhard den Schülern die Teilnahme am
                        Wettbewerb ermöglicht. Für die technischen Voraussetzungen sorgt die Stiftung der Sparkasse
                        Verden, welche bisher ungefähr 470.000€ an finanziellen Mitteln für die Beschaffung von
                        individuellem Material zur Verfügung gestellt hat. Die angeschafften Materialien verbleiben
                        anschließend in den Schulen und ergänzen den Physik, sowie Informatik Unterricht und weitere
                        Wettbewerbe. </p>
                        <div class="col-lg-4">
                            <img class="" src="res/FormelZHauptbild.jpg" alt="" style="width: 100%">
                        </div>
                    </div>
                    <div class="row">
                        <p class="text-justify  col-12">
                            Somit war also der Grundstein gelegt und unserer Schule wurde die Ehre zuteil den
                            ersten Wettbewerb auszurichten, an dem letztenendes bereits 28 Gruppen aus insgesamt zehn
                            Schulen teilnahmen. Aufgabe war es ein Umwelt-Mobil zu kreieren, welches sich selbst mit Energie
                            versorgt und alleine eine Strecke auf der Tartanbahn zurücklegt. Dabei waren und sind die Aufgaben
                            bis heute immer in drei Altersklassen aufgeteilt, welche Klasse fünf bis sieben, acht bis zehn und elf
                            bis dreizehn einschließen und sich in der Schwierigkeit unterscheiden. Bewertet werden die Schüler/-
                            innen durch eine Jury aus verschiedenen Persönlichkeiten der Verdener Wirtschaft, welche Preise für
                            die besten Gruppen der jeweiligen Altersklasse, sowie den Schulpreis für die erfolgreichste Schule
                            vergeben und jedes Jahr die besten Mädchengruppen mit dem Marie-Curie Preis auszeichnen.
                        </p>
                    </div>
                </article>

                <article class="px-3 px-lg-5 pt-2" id="fakten">
                    <h2 class="text-center mb-4">Fakten</h2>
                    <div class="position-relative">
                        <p class="fact py-1 d-flex align-items-center">
                            <svg viewbox="0 0 36 36"  width="36" height="36" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="18" cy="18" r="13" stroke="black" stroke-width="5" fill="none" />
                            </svg>
                            <span>
                                &nbsp;Mehr als 4500 Sch&uuml;ler in mehr als 1250 Gruppen haben teilgenommen
                            </span>
                        </p>
                        <p class="fact py-1 ml-md-5 d-flex align-items-center">
                            <svg viewbox="0 0 36 36" width="36" height="36" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="18" cy="18" r="13" stroke="black" stroke-width="5" fill="none" />
                            </svg>
                            <span>
                                &nbsp;Seit 19 Jahren findet der Formel-Z Wettbewerb statt
                            </span>
                        </p>
                        <p class="fact py-1 d-flex align-items-center">
                            <svg viewbox="0 0 36 36" width="36" height="36" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="18" cy="18" r="13" stroke="black" stroke-width="5" fill="none" />
                            </svg>
                            <span>
                                &nbsp;Die Stiftung Sparkasse hat mit bisher 470 000&euro; den Wettbewerb unterst&uuml;tzt
                            </span>
                        </p>
                    </div>
                    <!-- <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus fugiat dolor atque, ea veniam commodi id
                        voluptas vel blanditiis tempora alias porro hic iure in temporibus soluta tenetur qui voluptates!
                        Tempora vitae optio ipsum praesentium vel eum adipisci iure fuga animi officiis? Sequi, aliquam impedit quae
                        ducimus assumenda commodi aliquid? Vitae fugit, incidunt quas commodi numquam facilis at est sint.
                        Sint nostrum reprehenderit nesciunt corrupti odio est quod soluta minima ea quis recusandae esse amet nam
                        adipisci, laudantium eos eum harum, voluptatibus ab! Cumque commodi reiciendis distinctio fugiat blanditiis
                        quod?
                    </p> -->
                </article>

                <!-- <article class="px-3 px-lg-5 pt-2" id="ziele">
                    <h2 class="text-center my-2">Ziele des Wettbewerbs</h2>
                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus fugiat dolor atque, ea
                        veniam commodi id
                        voluptas vel blanditiis tempora alias porro hic iure in temporibus soluta tenetur qui voluptates!
                        Tempora vitae optio ipsum praesentium vel eum adipisci iure fuga animi officiis? Sequi, aliquam impedit quae
                        ducimus assumenda commodi aliquid? Vitae fugit, incidunt quas commodi numquam facilis at est sint.
                        Sint nostrum reprehenderit nesciunt corrupti odio est quod soluta minima ea quis recusandae esse amet nam
                        adipisci, laudantium eos eum harum, voluptatibus ab! Cumque commodi reiciendis distinctio fugiat blanditiis
                        quod?
                        Esse fuga aliquam maxime fugit dignissimos vero mollitia delectus eligendi minima, quasi, natus dolor provident
                        accusamus nemo. Repellat voluptatem, dolor temporibus dicta, consequatur tempore officia explicabo vero
                        exercitationem ex animi!
                        Tempore, itaque, quod qui voluptate necessitatibus quasi minima laudantium aut, consectetur impedit cumque
                        possimus ipsum sed veritatis quidem aliquid exercitationem nemo nostrum. Libero quidem blanditiis inventore,
                        voluptatum eveniet excepturi praesentium.
                        Quae unde ab eveniet exercitationem blanditiis provident sit veniam vel illum tempora fuga maiores, voluptates
                        quia quibusdam quas aspernatur minima excepturi! Pariatur similique deleniti ipsa, sunt iusto adipisci
                        voluptates molestias!
                        Porro eligendi optio, at quos autem harum molestias eum, necessitatibus impedit quas voluptatum nobis, facilis a
                        quidem mollitia possimus ex. Voluptates aut beatae earum nihil eius in illo ad magni.
                        Sit sint at nisi facere nihil. Quasi quia in voluptates voluptas ut ea delectus similique architecto debitis
                        culpa suscipit, ducimus unde animi corporis natus aut porro hic explicabo aliquid ipsam!
                        Debitis, corrupti ducimus qui natus aperiam at ab, dolorum alias sint error quo facere obcaecati maxime ipsum
                        unde fugiat ea officia magni nulla ut ipsa! Voluptas eos dolorum adipisci obcaecati.
                        Explicabo dicta dolores recusandae in, exercitationem sapiente ipsum! Laudantium repudiandae impedit reiciendis
                        temporibus deserunt maiores soluta laboriosam! Assumenda sint fugiat ipsa, blanditiis quae, nulla pariatur
                        dolores odio, dignissimos esse eveniet.</p>
                </article> -->

                <article class="px-3 px-lg-5 pt-2" id="formelZAmGaw">
                    <h2 class="text-center my-2">Formel Z am Gaw</h2>

                    <p class="text-justify">Insgesamt hat das Gymnasium am Wall die meisten Teams an den Start geschickt und es konnte
                    bereits zehn mal der Titel beste Schule und 32 Preise für einzelne Gruppen ergattert werden.
                    Besonders stolz sind wir auf inzwischen zwei Marie-Curie Preise und das damit verbundene
                    Engagement vieler junger Mädchen an unserer Schule. Außerdem ist bemerkenswert, dass sich die
                    Erfolge über alle Jahrgänge fast gleich aufteilen. So haben unserer jüngeren Schüler Preise bei den
                    Themen Kettenreaktion und Hovercraft, die mittleren Jahrgänge im Robotric Parcel Project und dem
                    Thema Sendemast und unsere älteren Schüler beim E-Racing und dem Raketenmobil abgeräumt. In
                    Jahrgang 12 und 13 kann außerdem oft im Rahmen des Seminarfaches am Formel (Z)ukunft
                    Wettbewerb teilgenommen werden um noch tiefer in die technische Materie einzutauchen und sich
                    technische Kenntnisse über den Wettbewerb hinaus anzueignen.
                    </p>

                    <p class="text-justify">2013 schloss sich Herr Dr. Ing. Jörg Peters dem Formel (Z)ukunft Team des Gymnasium am Wall an
                    und richtete, aus Mitteln der Stiftung der Sparkasse und gewonnener Schulpreise, mit großem
                    Engagement eine eigene Werksatt für die Formel (Z)ukunft AG ein. In dieser wird seitdem tatkräftig
                    getüftelt und sich auf weitere Wettbewerbe vorbereitet. Diese werden seit 2018 nicht mehr von der
                    Sparkasse organisiert, sondern von dem MINT-Konpetenzzentrum Verden, welche die Aufgaben in
                    einem Strategieteam aus Ingenieuren ausarbeiten. Auch freut es uns besonders, dass Herr Dr. Ing.
                    Jörg Peters diesem Komitee beiwohnt um eine noch engere Arbeit mit der Schule zu ermöglichen
                    und somit möglichst viele junge Menschen zu erreichen und für Technik begeistern zu können. Das
                    Strategieteam wird auch von Schüler/-innen unterstützt die während des bereits laufenden
                    Wettbewerbes ihre Zwischenergebnisse teilen und dadurch eine erste Rückmeldung über
                    Lösungsansätze und die Schwierigkeit der Aufgaben abgeben
                    </p>

                    <div class="row py-2">
                        <p class="text-justify col-xl-9 col-lg-8 col-md-6">Im Frühjahr 2020 hat darum eine
                        Schülergruppen des zwölften Jahrgangs ihre Zwischenergebnisse zu einem Roboter vorgestellt,
                        welcher autonom Pakete an verschiedene Ziele liefern sollte. Die Realisation erfolgte mit Hilfe eines
                        Lego Mindstorms EV3 Roboters, an dem eine Reihe Motoren und Sensoren individuell angesteuert
                        und der Arbeitsablauf in der Mindstorms-App programmiert werden kann.
                        </p>
                        <div class="col-xl-3 col-lg-4 col-md-6"><img src="res/Download.jpg" alt="Test bild" class=""></div>
                    </div>
                    
                    <!-- <div class="row py-2">
                        <div class="col-xl-3 col-lg-4 col-md-6 order-2 order-md-1"><img src="res/Download.jpg" alt="Test bild" class=""></div>
                        <p class="text-justify col-xl-9 col-lg-8 col-md-6 order-1 order-md-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus fugiat dolor atque, ea
                            veniam commodi id
                            voluptas vel blanditiis tempora alias porro hic iure in temporibus soluta tenetur qui voluptates!
                            Tempora vitae optio ipsum praesentium vel eum adipisci iure fuga animi officiis? Sequi, aliquam impedit quae
                            ducimus assumenda commodi aliquid? Vitae fugit, incidunt quas commodi numquam facilis at est sint.
                            Sint nostrum reprehenderit nesciunt corrupti odio est quod soluta minima ea quis recusandae esse amet nam
                            adipisci, laudantium eos eum harum, voluptatibus ab! Cumque commodi reiciendis distinctio fugiat blanditiis
                            quod?
                        </p>
                    </div>

                    <p class="text-justify py-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus fugiat dolor atque, ea
                        veniam commodi id
                        voluptas vel blanditiis tempora alias porro hic iure in temporibus soluta tenetur qui voluptates!
                        Tempora vitae optio ipsum praesentium vel eum adipisci iure fuga animi officiis? Sequi, aliquam impedit quae
                        ducimus assumenda commodi aliquid? Vitae fugit, incidunt quas commodi numquam facilis at est sint.
                        Sint nostrum reprehenderit nesciunt corrupti odio est quod soluta minima ea quis recusandae esse amet nam
                        adipisci, laudantium eos eum harum, voluptatibus ab! Cumque commodi reiciendis distinctio fugiat blanditiis
                        quod?
                    </p> -->

                </article>

                <article class="px-3 px-lg-5 py-2" id="">
                    <p>Dieser Beitrag wurde im Rahmen einer Seminarfacharbeit von <a class="text-danger" href=""><u>Maximillian Hoppe</u></a>, <a class="text-danger" href=""><u>Mattes Th&ouml;lke</u></a>, <a class="text-danger" href=""><u>Louis Felsch</u></a>, 
                        <a class="text-danger" href=""><u>Sophie Louisa Malkus</u></a> und <a class="text-danger" href=""><u>Niklas Heise</u></a> erstellt. Den vollst&auml;ndige Artikel k&ouml;nnen sie <a class="text-danger" href="res/Artikel.pdf" target="_blank"><u>hier</u></a> abrufen.</p>
                </article>
        
            </section>
        </main>

        <!-- Fußleiste -->
        <footer>
            <div class="container-lg d-flex align-items-center justify-content-between flex-row">
                <span class="text-secondary text-center">&copy; Copyright Niklas Heise 2020</span>
                <nav class="nav flex-row">
                    <a href="" class="nav-link text-secondary">Impressum</a>
                    <a href="" class="nav-link text-secondary">Kontakt</a>
                </nav>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/script.js"></script>

    </body>
</html>